{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="col-xs-12 col-xs-offset-0 col-sm-5 col-sm-offset-2">
            {{ form.non_field_errors }}
            {{ form.file.errors }}
            <form action="{% url 'home' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_file">CSV File input</label>
                    <input type="file" id="id_file" name="file">
                </div>
                {{ form.template.errors }}
                <div class="form-group">
                    <label for="{{ form.template.id_for_label }}">Template:</label>
                    {{ form.template }}
                </div>
                <button type="submit" class="btn btn-success">Upload</button>
            </form>
        </div>
        <div class="col-xs-12 visible-xs"></div>
        <div class="col-xs-12 col-sm-1">
            <a class="btn btn-primary" href="{% url 'status' %}">Look Status</a>
        </div>
    </div>
{% endblock content %}
